.calendar {
	display: flex;
	overflow-y: auto;
	align-items: center;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: center;

	padding: 10px;

	background-color: rgb(189, 141, 141);

	&__header {
		margin: 0 0 10px 0;
	}
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		width: 100%;

		& > * {
			margin: 0 0 10px 0;
		}
	}
	&__days {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;

		width: 100%;

		gap: 5px;
	}
	&__day {
		flex: 0 0 50px;
	}
}
