.day {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;

	padding: 25px;

	&__header {
		align-self: flex-start;

		width: 100%;
		margin: 0 0 15px 0;
		margin: 0 0 30px 0;
	}

	&__go-back {
		margin: 0 0 15px 0;

		a {
			display: flex;
			align-items: center;

			height: 30px;

			text-decoration: none;

			color: #fff;

			img {
				max-height: 100%;
				margin: 0 10px 0 0;
			}
		}
	}

	&__selected-day {
		font-size: 1.3rem;

		text-align: center;
		text-decoration: underline;
	}

	&__body {
		width: 100%;

		table {
			width: 100%;

			background-color: rgb(61, 61, 61);
		}

		table,
		th,
		td {
			border-color: rgb(153, 153, 153) !important;
		}
	}

	&__status-select {
		font-size: 1rem;

		color: #fff;
		border: none;
		background-color: transparent;
	}

	&__status {
		position: relative;

		min-width: 120px;

		cursor: pointer;
		text-align: center;
	}

	&__status.show &__status-list {
		display: block;

		padding: 10px;

		background-color: #fff;
	}

	&__status-list {
		position: absolute;
		z-index: 10;
		top: 100%;
		left: -5%;

		display: none;

		width: 110%;

		cursor: default;

		border-radius: 5px;

		& > * {
			margin: 0 0 5px 0;
			padding: 10px;

			cursor: pointer;
		}

		& > *:last-child {
			margin: 0 0 0 0;
		}

		&::before {
			position: absolute;
			top: calc(var(--pseudoElHeight) * -1);
			left: calc(50% - var(--pseudoElWidth));

			content: '';

			border-right: var(--pseudoElWidth) solid transparent;
			border-bottom: var(--pseudoElWidth) solid rgb(243, 243, 243);
			border-left: var(--pseudoElWidth) solid transparent;
			--pseudoElWidth: 15px;
			--pseudoElHeight: 15px;
		}
	}

	table {
		border-collapse: collapse;
	}

	table td,
	th {
		padding: 10px;
	}

	td {
		border: 2px solid black;
	}

	th {
		padding: 5px;

		&:not(:last-child) {
			border-right: 2px solid black;
		}
	}

	&__add-task {
		cursor: pointer;

		background-color: rgba(78, 78, 78, 0.651);
	}

	&__index-column,
	&__add-task {
		position: relative;
	}

	&__index {
		transition: all var(--transitionDelay);
	}

	&__remove-task {
		position: absolute;

		overflow: hidden;
		top: 5%;
		left: -5px;

		width: 8px;
		z-index: 3;
		height: 90%;

		cursor: pointer;

		background-color: rgb(72, 93, 162);

		transition: all var(--transitionDelay);

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;
		span {
			transition: opacity var(--transitionDelay);

			opacity: 0;
		}

		&:hover:not(.fake) {
			width: 80px;

			& + * {
				padding: 0px 0px 0px 70px;
			}

			span {
				opacity: 1;
				border: 1px solid #fff;
				width: 30px;
				height: 30px;
				padding: 5px;

				border-radius: 50%;
			}
		}

		&.fake {
			background-color: rgb(120, 133, 177);
			transition: all calc(var(--transitionDelay) / 2);

			&:hover {
				background-color: rgb(67, 93, 179);
			}
		}
	}

	&__note {
		font-weight: 500 !important;

		width: 100%;
		min-height: 70px;
		padding: 5px;

		resize: none;

		color: #fff;
		background-color: rgba(39, 39, 39, 0.747);
	}
}

@media (max-width: 500px) {
	.day {
		padding: 5px;
	}
}
