.day {
	flex-grow: 1;

	padding: 10px;

	&__header {
		margin: 0 0 15px 0;
	}

	&__status-select {
		font-size: 1rem;

		color: #fff;
		border: none;
		background-color: transparent;
	}

	&__status {
		position: relative;

		cursor: pointer;
		text-align: center;

		min-width: 120px;
	}

	&__status.show &__status-list {
		display: block;

		padding: 10px;

		background-color: #fff;
	}

	&__status-list {
		position: absolute;
		z-index: 10;
		top: 100%;
		left: -5%;

		display: none;

		width: 110%;

		cursor: default;

		border-radius: 5px;

		& > * {
			margin: 0 0 5px 0;
			padding: 5px;

			cursor: pointer;
		}

		&::before {
			position: absolute;
			top: calc(var(--pseudoElHeight) * -1);
			left: calc(50% - var(--pseudoElWidth));

			content: '';

			border-right: var(--pseudoElWidth) solid transparent;
			border-bottom: var(--pseudoElWidth) solid rgb(243, 243, 243);
			border-left: var(--pseudoElWidth) solid transparent;
			--pseudoElWidth: 15px;
			--pseudoElHeight: 15px;
		}
	}

	table {
		border-collapse: collapse;
	}

	table td,
	th {
		padding: 10px;
	}

	td {
		font-weight: 300 !important;

		border: 2px solid black;
	}

	th {
		padding: 5px;

		&:not(:last-child) {
			border-right: 2px solid black;
		}
	}
}
