.new-task {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	transition: all var(--transitionDelay);

	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);

	&__content {
		padding: 20px;

		transition: all var(--transitionDelay);
		transform: scale(0.5);

		border-radius: 3px;
		background-color: #fff;

		display: flex;
		flex-direction: column;

		label {
			color: rgba(39, 39, 39, 0.829);
		}

		> * {
			margin: 0px 0px 10px 0px;

			display: flex;
			justify-content: space-between;

			& *:not(:last-child) {
				margin: 0px 10px 0px 0px;
			}
		}

		&.active {
			transform: scale(1);
		}
	}
	&.active {
		visibility: visible;

		opacity: 1;
	}

	&__name,
	&__notes {
		padding: 5px;
	}

	&__notes {
		resize: none;
	}

	&__separator {
		color: rgba(39, 39, 39, 0.829);
	}

	&__confirm {
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			font-size: 1rem;
			color: rgba(39, 39, 39, 0.829);
			padding: 5px 10px;

			background-color: transparent;
			border-radius: 10%;

			border: none;
			border-bottom: 1px solid #000;

			cursor: pointer;

			box-shadow: 1px 1px 3px #000;

			&:active {
				background-color: rgb(221, 221, 221);
				transform: translateY(10%);
			}
		}
	}

	&__error {
		color: red;
	}
}
